* {
  font-family: "Comfortaa", cursive;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(49, 49, 49);
}

body {
  background: rgb(218, 218, 218);
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
 HEADER
 */
header {
  background: rgb(64, 122, 156);
  height: 80px;
}
header * {
  color: white;
}

header h1 {
  margin-top: 12px;
  height: 100%;
  
}

header h1 a {
  padding: 23px;
}

header h1 a:hover {
  background: rgb(13, 36, 49);
  transition: 0.5s;
  color: rgb(241, 242, 248);
}



header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;

}
header ul li {
    float: left;
    margin-top: 2px;
    
}
header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 23px;
}

header ul li a:hover {
    background: rgb(13, 36, 49);
    transition: 0.5s;
    color: rgb(241, 242, 248);
}